In [24]:
import numpy as np 
import pandas as pd
import os

In [25]:
df = pd.read_csv("tourist_accommodation_reviews.csv")

In [26]:
df.head()

,ID,Review Date,Location,Hotel/Restaurant name,Review
0,rn579778340,Reviewed 1 week ago,Kathu,Thong Dee The Kathu Brasserie,Just been for sunday roast lamb and beef truly...
1,rn576350875,Reviewed 3 weeks ago,Kathu,Thong Dee The Kathu Brasserie,"Quietly set off the main road, nice atmosphere..."
2,rn574921678,Reviewed 4 weeks ago,Kathu,Thong Dee The Kathu Brasserie,I made a reservation for a birthday two days i...
3,rn572905503,"Reviewed April 12, 2018",Kathu,Thong Dee The Kathu Brasserie,We visit here regularly and never fail to be i...
4,rn572364712,"Reviewed April 10, 2018",Kathu,Thong Dee The Kathu Brasserie,Visited this wonderful place on my travels and...

# Text Mining

In [29]:
text = "Just been for sunday roast lamb and beef truly..."
print("length of text: ",len(text))
splitted_text = text.split() 
print("Splitted text: ",splitted_text)

length of text:  49
Splitted text:  ['Just', 'been', 'for', 'sunday', 'roast', 'lamb', 'and', 'beef', 'truly...']

In [30]:
df = pd.concat([df.Location,df.ID],axis=1)

In [31]:
df.dropna(inplace=True,axis=0)

In [32]:
df.ID = [1 if each == "rn579778340	" else 0 for each in df.ID]

In [33]:
# import re # regular expression library
# # %% remove non important word a, the, that, and, in 
# import nltk as nlp
# import nltk
# nltk.download("stopwords")  # stopwords = (irrelavent words)
# from nltk.corpus import stopwords

In [34]:
from sklearn.feature_extraction.text import CountVectorizer

In [35]:
max_features = 150
count_vectorizer = CountVectorizer(stop_words = "english",max_features = max_features)